server {
    server_name {{ item.name }};
    root        /home/{{ web_user }}/{{ item.folder }};

    charset     utf-8;

    location / {
{% if 'with_php' in item and item.with_php %}
        index       index.php;
        try_files   $uri $uri/ /index.php?$args;
{% elif 'with_node' in item and item.with_node %}
        proxy_set_header   X-Forwarded-For $remote_addr;
        proxy_set_header   Host $http_host;
        proxy_pass         http://localhost:{{ item.node_port }};
{% else %}
        index   index.html index.htm;
{% endif %}
    }

{% if 'with_php' in item and item.with_php %}
    include php.conf;
{% endif %}
{% if with_ssl %}
    include certbot.conf;
{% endif %}
}

server {
    if ($host = {{ item.name }}) {
        return 301 https://$host$request_uri;
    }

    listen      80;
    server_name {{ item.name }};
    return 404;
}

{% if 'redirect_www' in item and item.redirect_www %}
{% if with_ssl %}
server {
    listen      443;
    server_name www.{{ item.name }};
    return 301 https://{{ item.name }}$request_uri;
}
{% endif %}

server {
    listen      80;
    server_name www.{{ item.name }};
    return 301 https://{{ item.name }}$request_uri;
}
{% endif %}
