listen 443 ssl http2;

ssl_stapling on;
ssl_stapling_verify on;
ssl_trusted_certificate /etc/letsencrypt/live/{{ domains[0] }}/chain.pem;
resolver 208.67.222.222 208.67.220.220; # OpenDNS

ssl_certificate /etc/letsencrypt/live/{{ domains[0] }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ domains[0] }}/privkey.pem;

include /etc/letsencrypt/options-ssl-nginx.conf;
ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
