# Set default values for all following accounts.
defaults
auth            on
tls             on
tls_starttls    off
tls_trust_file  /etc/pki/tls/certs/ca-bundle.crt
#logfile         /tmp/msmtp.log
syslog          on

# mail01
account         mail01
host            {{ mail.smtp.server }}
port            {{ mail.smtp.app_port }}
from            {{ mail.contact_root }}
user            {{ mail.smtp.username }}
password        {{ mail.smtp.password }}

# Set a default account
account default : mail01