[Unit]
Description={{ item.name }}
After=network.target

[Service]
Type=simple
ExecStart={{ item.node_exec }}
Restart=always
User={{ web_user }}
Environment=NODE_ENV=production
Environment=NODE_PORT={{ item.node_port }}
WorkingDirectory=/home/{{ web_user }}/{{ item.folder }}

[Install]
WantedBy=multi-user.target