#!/bin/bash

cd "${0%/*}/.."

{% if with_db %}
DBUSER="{{ item.db_username }}"
DBPASSWORD="{{ item.db_password }}"
DBNAME="{{ item.db_name }}"
mysqldump --skip-comments -u $DBUSER -p$DBPASSWORD $DBNAME > '{{ site_db_backup_name }}'
{% endif %}

CURRENTDATE=`date +%Y-%m-%d`

git add .
git commit -a -m $CURRENTDATE
git push
